In [46]:
import numpy as np
import pandas as pd 
D=pd.DataFrame(np.arange(10).reshape(2,5))
D

   0  1  2  3  4
0  0  1  2  3  4
1  5  6  7  8  9

In [47]:
dt={
    'one':pd.Series([1,2,3,4],index=['a','b','c','d']),
    'two':pd.Series([5,6,7],index=['a','b','c'])}
C=pd.DataFrame(dt)
C

   one  two
a    1  5.0
b    2  6.0
c    3  7.0
d    4  NaN

In [48]:
dl={
    'three':[1,2,3,4],
    'four':[5,6,7,8]
}
A=pd.DataFrame(dl,index=['a','b','c','d'])
A#不会自动补齐NaN

   three  four
a      1     5
b      2     6
c      3     7
d      4     8

In [49]:
A.values

array([[1, 5],
       [2, 6],
       [3, 7],
       [4, 8]], dtype=int64)

In [50]:
A.columns

Index(['three', 'four'], dtype='object')

In [51]:
A.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [52]:
A['three']

a    1
b    2
c    3
d    4
Name: three, dtype: int64

In [53]:
A.loc['b']#老版本里的ix方法

three    2
four     6
Name: b, dtype: int64

In [54]:
A=A.reindex(['a', 'c', 'b', 'd'])
A

   three  four
a      1     5
c      3     7
b      2     6
d      4     8

In [55]:
A=A.reindex(columns=['four','three','five'])
A

   four  three  five
a     5      1   NaN
c     7      3   NaN
b     6      2   NaN
d     8      4   NaN

In [59]:
newi=A.index.insert(4,'e')
newc=A.columns.delete(1)
A=A.reindex(index=newi,columns=newc,fill_value=10)
A

   four
a     5
c     7
b     6
d     8
e    10
e    10

In [60]:
A.drop('c')

   four
a     5
b     6
d     8
e    10
e    10

In [61]:
A.drop('four',axis=1)

Empty DataFrame
Columns: []
Index: [a, c, b, d, e, e]