In [5]:
import pandas as pd
import numpy as np

In [9]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),
index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

               b         d         e
Utah   -0.667910 -0.630620 -0.642488
Ohio   -1.406898  0.482988 -0.103213
Texas   0.867126 -1.322456 -1.900583
Oregon -0.051295  1.135604  1.885465

In [10]:
np.abs(frame)

               b         d         e
Utah    0.667910  0.630620  0.642488
Ohio    1.406898  0.482988  0.103213
Texas   0.867126  1.322456  1.900583
Oregon  0.051295  1.135604  1.885465

In [12]:
f = lambda x: x.max() - x.min()
frame.apply(f, axis='columns')#按行求差

Utah      0.037290
Ohio      1.889886
Texas     2.767708
Oregon    1.936760
dtype: float64

In [13]:
def f(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])

frame.apply(f)

            b         d         e
min -1.406898 -1.322456 -1.900583
max  0.867126  1.135604  1.885465

In [18]:
Format = lambda x: '%.2f' % x#保留小数后两位
frame.applymap(Format)#对每一个元素

            b      d      e
Utah    -0.67  -0.63  -0.64
Ohio    -1.41   0.48  -0.10
Texas    0.87  -1.32  -1.90
Oregon  -0.05   1.14   1.89

In [19]:
frame['e'].map(format)#单列操作

Utah      -0.64
Ohio      -0.10
Texas     -1.90
Oregon     1.89
Name: e, dtype: object