In [1]:
import numpy as np
import pandas as pd 
D=pd.DataFrame(np.arange(10).reshape(2,5))
D

   0  1  2  3  4
0  0  1  2  3  4
1  5  6  7  8  9

In [2]:
dt={
    'one':pd.Series([1,2,3,4],index=['a','b','c','d']),
    'two':pd.Series([5,6,7],index=['a','b','c'])}
C=pd.DataFrame(dt)
C

   one  two
a    1  5.0
b    2  6.0
c    3  7.0
d    4  NaN

In [3]:
dl={
    'three':[1,2,3,4],
    'four':[5,6,7,8]
}
A=pd.DataFrame(dl,index=['a','b','c','d'])
# A.set_axis([0,1,2,3],axis=0)
A#不会自动补齐NaN

   three  four
a      1     5
b      2     6
c      3     7
d      4     8

In [4]:
A.values

array([[1, 5],
       [2, 6],
       [3, 7],
       [4, 8]], dtype=int64)

In [5]:
A.columns

Index(['three', 'four'], dtype='object')

In [6]:
A.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [7]:
A['three']

a    1
b    2
c    3
d    4
Name: three, dtype: int64

In [8]:
A.loc['b']#老版本里的ix方法

three    2
four     6
Name: b, dtype: int64

In [9]:
A=A.reindex(['a', 'c', 'b', 'd'])
A

   three  four
a      1     5
c      3     7
b      2     6
d      4     8

In [10]:
A=A.reindex(columns=['four','three','five'])
A

   four  three  five
a     5      1   NaN
c     7      3   NaN
b     6      2   NaN
d     8      4   NaN

In [11]:
newi=A.index.insert(4,'e')
newc=A.columns.delete(1)
A=A.reindex(index=newi,columns=newc,fill_value=10)
A

   four  five
a     5   NaN
c     7   NaN
b     6   NaN
d     8   NaN
e    10  10.0

In [12]:
A.drop('c')

   four  five
a     5   NaN
b     6   NaN
d     8   NaN
e    10  10.0

In [13]:
A.drop('four',axis=1)

   five
a   NaN
c   NaN
b   NaN
d   NaN
e  10.0

In [14]:
import math
data = {'A': [1, 2, math.nan, 4],
        'B': [math.nan, 2, 3, 4],
        'C': [1, 2, 3, 4]}
df = pd.DataFrame(data)
df[~df['A'].apply(math.isnan)]

     A    B  C
0  1.0  NaN  1
1  2.0  2.0  2
3  4.0  4.0  4

In [47]:
import re
s="newrel_m014"
match=re.compile(r"new_?(\w+)_([fm])(\d+)")
res=match.findall(s)[0]
f'{res}123'

('rel', 'm', '014')

In [29]:
s=pd.Series([1,3,2])
mask=[True,True,True]
mask
s[:2]
# s[mask]
# s,s[0]

0    1
1    3
dtype: int64

In [56]:
dict={"A":2}
s=["A","A"]
# for c in s:
dict["A"]
dict["A"]+=1
# dict["A"]=dict["A"]+1
dict["A"]

3

In [65]:
s="123. 22232? dfdsf"

s="|".join(s.split(". "))
"|".join(s.split("? "))

'123|22232|dfdsf'

In [17]:
def is_blank(element):
    return element == ''

def is_caps(element):
    return not is_blank(element) and element == element.upper()

def find_scene_starts(screenplay):
    ### BEGIN SOLUTION
    return find_scene_starts__v0(screenplay)

# Helper function
def is_scene_start(element):
    return is_caps(element) and element[:4] in ['INT.', 'EXT.']

# Method 0: Basic loop, the way you'd write it in many other languages
def find_scene_starts__v0(sc):
    starts = []
    for index,element in enumerate(sc):
        print(element)
        print(is_scene_start(element))
        if is_scene_start(element):
            starts.append(index)
    return starts

demo_screenplay = [
    'Han draws his laser pistol and pops off a couple of shots',
    'which force the stormtroopers to dive for safety. The',
    'pirateship engines whine as Han hits the release button that',
    'slams the overhead entry shut.',
    '',
    'INT. MILLENNIUM FALCON',
    '',
    'HAN',
    'Chewie, get us out of here!',
    '',
    'The group straps in for take off.',
    '',
    'THREEPIO',
    "Oh, my. I'd forgotten how much I",
    'hate space travel.',
    '',
    'EXT. TATOOINE - MOS EISLEY - STREETS',
    '',
    'The half-dozen stormtroopers at a check point hear the general',
    'alarm and look to the sky as the huge starship rises above',
    'the dingy slum dwellings and quickly disappears into the',
    'morning sky.',
    '',
    'INT. MILLENNIUM FALCON - COCKPIT',
    '',
    "Han climbs into the pilot's chair next to Chewbacca, who",
    'chatters away as he points to something on the radar scope.',
    ''
]
find_scene_starts(demo_screenplay)

Han draws his laser pistol and pops off a couple of shots
False
which force the stormtroopers to dive for safety. The
False
pirateship engines whine as Han hits the release button that
False
slams the overhead entry shut.
False

False
INT. MILLENNIUM FALCON
True

False
HAN
False
Chewie, get us out of here!
False

False
The group straps in for take off.
False

False
THREEPIO
False
Oh, my. I'd forgotten how much I
False
hate space travel.
False

False
EXT. TATOOINE - MOS EISLEY - STREETS
True

False
The half-dozen stormtroopers at a check point hear the general
False
alarm and look to the sky as the huge starship rises above
False
the dingy slum dwellings and quickly disappears into the
False
morning sky.
False

False
INT. MILLENNIUM FALCON - COCKPIT
True

False
Han climbs into the pilot's chair next to Chewbacca, who
False
chatters away as he points to something on the radar scope.
False

False

[5, 16, 23]

In [22]:
def diffs(starts, num_elems=None):
    assert (num_elems is None) or (not starts) or (num_elems >= max(starts))
    ### BEGIN SOLUTION
    return diffs__v1(starts, num_elems)
    
# == Method 0: Basic loop (the style of other languages) ==
def diffs__v0(starts, num_elems=None):
    res=[]
    for i in range(len(starts)-1):
        res.append(starts[i+1]-starts[i])
    if num_elems and starts:
        res.append(num_elems-starts[-1])
    return res
# == Method 1: A little tighter (more "Pythonic") ==
def zip_consecutive_pairs(x):
    """Given `x`, generates `(x[i], x[i+1])` pairs."""
    return zip(x[:-1], x[1:])

def calc_deltas(x):
    """Given `x`, returns `x[i+1] - x[i]` differences ("deltas")."""
    return [b - a for a, b in zip_consecutive_pairs(x)]

def diffs__v1(starts, num_elems=None):
    deltas = calc_deltas(starts)
    if starts and num_elems is not None:
        deltas.append(num_elems - starts[-1])
    return deltas
print(diffs([47, 85, 91], 115))  # answer: [38, 6, 24]
print(diffs([47, 85, 91]))       # answer: [38, 6]
print(diffs([47, 85, 91], None)) # answer: [38, 6]
print(diffs([]))                 # answer: []
print(diffs([91], 115))          # answer: [24]
print(diffs([]), 115)

[38, 6, 24]
[38, 6]
[38, 6]
[]
[24]
[] 115

In [19]:
if [1]:
    print(True)

True

In [16]:
def group_elements_by_scene__v0(screenplay, starts, lengths):
    scenes = []
    for i in range(len(starts)): # i == scene number or index 
        # `k` iterates over elements of the scene
        k_start = starts[i]
        k_stop = k_start + lengths[i]
        
        # Build the setting
        setting = ''
        while k_start < k_stop and is_caps(screenplay[k_start]):
            setting += (' ' if setting else '') + screenplay[k_start]
            k_start += 1
            
        # Build the body
        while k_start < k_stop and is_blank(screenplay[k_start]): # skip leading blanks
            k_start += 1
        while k_stop > k_start and is_blank(screenplay[k_stop-1]): # remove trailing blanks
            k_stop -= 1
        body = screenplay[k_start:k_stop]
        scenes.append({'setting': setting, 'elements': body})
    return scenes

group_elements_by_scene__v0(demo_screenplay, [5, 16, 23], [11, 7, 5])

[{'setting': 'INT. MILLENNIUM FALCON',
  'elements': ['HAN',
   'Chewie, get us out of here!',
   '',
   'The group straps in for take off.',
   '',
   'THREEPIO',
   "Oh, my. I'd forgotten how much I",
   'hate space travel.']},
 {'setting': 'EXT. TATOOINE - MOS EISLEY - STREETS',
  'elements': ['The half-dozen stormtroopers at a check point hear the general',
   'alarm and look to the sky as the huge starship rises above',
   'the dingy slum dwellings and quickly disappears into the',
   'morning sky.']},
 {'setting': 'INT. MILLENNIUM FALCON - COCKPIT',
  'elements': ["Han climbs into the pilot's chair next to Chewbacca, who",
   'chatters away as he points to something on the radar scope.']}]

In [29]:
input1=[{'setting': 'INT. MILLENNIUM FALCON - GUNPORTS',
 'elements': ['Another TIE fighter moves in on the pirateship and Luke,',
              'smiling, fires the laser cannon at it, scoring a spectacular',
              'direct hit.',
              '',
              'LUKE',
              'Got him! I got him!',
              '',
              'Han turns and gives Luke a victory wave which Luke gleefully',
              'returns.',
              '',
              'HAN',
              "Great kid! Don't get cocky.",
              '',
              'Han turns back to his laser cannon.']}]

In [32]:
def is_name(e):
    return not is_blank(e) and is_caps(e)

res=[]
for element in input1:
    out={'speaker': None, 'text': None}
    begin_element=element["elements"][0]
    if(is_name(begin_element)):
        out['speaker']=begin_element
    for i in range(len(element["elements"])):
        print(i)
        # print(not is_blank(e) and is_caps(e))

0
1
2
3
4
5
6
7
8
9
10
11
12
13