In [2]:
import numpy as np
import pandas as pd
import math

pd.set_option('display.float_format', lambda x: '%.10f' % x)
L=139.8
B=37.84
H=1.988
D=7
n=5#圆孔数量


D1=pd.DataFrame(columns=[
    "DB",
    'UL',
    "UB",
    "UH",
    'UD'
    ]
,index=['米尺', "游标","千分"])
D1.DB=[0.2,0.02,0.004]
D1.UL=(D1.DB/L)**2
D1.UB=(D1.DB/B)**2
D1.UH=(D1.DB/H)**2
D1.UD=((n*math.pi*D*D1.DB)/(2*L*B))**2
D1

             DB           UL           UB           UH           UD
米尺 0.2000000000 0.0000020467 0.0000279356 0.0101210887 0.0000043204
游标 0.0200000000 0.0000000205 0.0000002794 0.0001012109 0.0000000432
千分 0.0040000000 0.0000000008 0.0000000112 0.0000040484 0.0000000017

In [3]:
D1.DB/math.sqrt(3)

米尺   0.1154700538
游标   0.0115470054
千分   0.0023094011
Name: DB, dtype: float64

In [4]:
V=L*B*H-(n*math.pi*(D**2)*H)/4
V

10134.04758653564

In [10]:
0.0019*V

19.254690414417716

In [5]:
L=240
B=170
D=7.5
pd.set_option('display.float_format', lambda x: '%.13f' % x)

D2=pd.DataFrame(columns=[
    "DB",
    'UL',
    "UB",
    "UD",
    ]
,index=['米尺', "游标","千分"])
D2.DB=[0.2,0.02,0.004]
D2.UL=(D2.DB/L)**2
D2.UB=(D2.DB/B)**2
D2.UD=(D2.DB/D)**2
D2

                DB              UL              UB              UD
米尺 0.2000000000000 0.0000006944444 0.0000013840830 0.0007111111111
游标 0.0200000000000 0.0000000069444 0.0000000138408 0.0000071111111
千分 0.0040000000000 0.0000000002778 0.0000000005536 0.0000002844444

In [6]:
7.5*170*240

306000.0

In [7]:
0.2/math.sqrt(3)

0.11547005383792516

In [8]:
UB=0.2/math.sqrt(3)
UD=0.004/math.sqrt(3)
math.sqrt((UB/L)**2+(UB/B)**2+(UD/D)**2)

0.0008875005979099561

In [9]:
0.00089*3060

2.7234